{% extends 'main.html' %}
  {% block content %}
    <main class="profile-page layout layout--3">
      <div class="container">
        <!-- Topics Start -->
        {% include 'base/topics_component.html' %}
        <!-- Topics End -->

        <!-- Room List Start -->
        <div class="roomList">
          <div class="profile">
            <div class="profile__avatar">
              <div class="avatar avatar--large" data-avatar-for="{{user.id}}">
                <img src="{{ user.avatar.url }}" />
              </div>
            </div>
            <div class="profile__info">
              <h3>{{user.name}}</h3>
              <p>@{{user.username}} 
                <!-- <span style="color: #b2bdbd;; font-size: 14px;" id="followers">459</span> -->
                <span style="color: #b2bdbd;; font-size: 14px;"  id="followers_count"> </span>
                <span style="color: #b2bdbd;; font-size: 14px;"> Followers</span></p>
              
              {% if request.user == user %}
                  <a href="{% url 'inbox' %}" class="btn btn--sub btn--pill" style="margin-right: 0.5rem;">📬 Inbox</a>
                  <a href="{% url 'update-user' %}" class="btn btn--main btn--pill">Edit Profile</a>
              {% else %}
                <a href="{% url 'start-conversation' user.id %}" class="btn btn--sub btn--pill" style="margin-right: 0.5rem;">Send Message</a>
                <form id="follow-form" method="POST" action="{% url 'follow-user' user.id %}" style="display: inline;">
                  {% csrf_token %}
                    {% if is_following %}
                      <button id="follow-button" class="btn btn--main btn--pill">Unfollow</button>
                    {% else %}
                      <button id="follow-button" class="btn btn--main btn--pill">Follow</button>
                    {% endif %}
                </form>
              {% endif %}
          </div>
            <div class="profile__about">
              <h3>ABOUT</h3>
              <p>
                {{user.bio}}
              </p>
            </div>
          </div>

          <div class="roomList__header">
            {% if request.user == user %}
              <h2>Your Rooms</h2>
            {% else %}
              <h2>Rooms Hosted by {{user.name}}</a>
              </h2>
            {% endif %}
            
          </div>
          
          {% include 'base/feed_component.html' %} 
        </div>
        <!-- Room List End -->

        <!-- Activities Start -->
        {% include 'base/activity_component.html' %}
        <!-- Activities End -->
      </div>
    </main>


    <script>
      function checkUserStatus() {
          fetch('http://localhost:8000/check_user_status/')
              .then(response => response.json())
              .then(data => {
                  let online_users = [];
                  for (let userStatus of data) {
                      if (userStatus.is_online) {
                          online_users.push(userStatus.user_id);
                      }
                  }
                  // console.log(online_users);
    
                  // Get all avatar elements
                  let avatars = document.querySelectorAll('[data-avatar-for]');
                  avatars.forEach(avatar => {
                      // Get the user ID from the avatar element's data-avatar-for attribute
                      let userId = parseInt(avatar.dataset.avatarFor, 10);
                      if (online_users.includes(userId)) {
                          // Add the 'active' class if the user is online
                          avatar.classList.add('active');
                      } else {
                          // Remove the 'active' class if the user is offline
                          avatar.classList.remove('active');
                      }
                  });
              })
              .catch(error => console.error('Error:', error));
      }
 
      
      async function fetchFollowData() {
        var userId = Number("{{ user.id }}");  // Get user.id from Django and convert it to a number
        try {
            let response = await fetch('/get_follow_data/' + userId + '/');  // Use userId in the URL
            let data = await response.json();
            document.getElementById('followers_count').textContent = ' ' + data.num_followers;  // Use userId to access the data
        } catch (error) {
            console.error('Error:', error);
        }
    }

      // Check user status every 5 seconds
    setInterval(checkUserStatus, 8000);
    fetchFollowData();
    
// Get the form and add an event listener for the submit event
var form = document.getElementById('follow-form');
    form.addEventListener('submit', function(event) {
        // Prevent the form from being submitted
        event.preventDefault();

        // Get the follow button
        var followButton = document.getElementById('follow-button');

        // Send a POST request to the server
        fetch(form.action, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: new URLSearchParams(new FormData(form))
        })
        .then(response => response.json())
        .then(data => {
    // testing the data sent
    console.log(data);
    // Get the first key from the data object
    var firstKey = Object.keys(data)[0];
    // Update the follow button text
    if (data[firstKey].is_following) {
        followButton.textContent = 'Unfollow';
    } else {
        followButton.textContent = 'Follow';
    }

    // Fetch follow data
    fetchFollowData();
})
        .catch(error => console.error('Error:', error));
    });

      // Fetch follow data every 80 seconds    
    setInterval(fetchFollowData, 80000);





















</script>







    
    {% endblock content %}  

